body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://mim.p7s1.io/pis/ld/f4efzChLCVyZ-c1vEwXZAanB-DJ78rnq2V2gRWTHzVV6NywNWMSJCEGmZ4YSENP-WRL0b9lo2z78GmGphRwkM8JK_h7vBnh77l0F2KVRhzEK_LJCFP-crhXEXHaInqbbRe0Ap2uU-6c/profile:original?rect=0%2C314%2C6000%2C3375&w=1070');
    background-size: cover;
    background-position: center;
    color: white;
}

.container {
    max-width: 1000px; /* Adjust the max-width to your preference */
    margin: 100 auto;
    padding: 20px;
}

h2 {
    text-align: center;
}

form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

#errorMessage {
    text-align: center;
    font-weight: bold;
    display: none;
}

#signup-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px; /* Adjust margin to your preference */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#signup-button:hover {
    background-color: #45a049;
}

